* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  line-height: normal;
  color: black
};

body {
  width: 1220px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black
}