.wrapper h1 {
    color: black;
    font: 400 16px "Dela Gothic One";
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
    width: 1220px;
}

.wrapper .flexBtn {
    display: flex;
    align-items: center;
    gap: 24px;
}
.wrapper .flexBtn .loginBtn {
    color: black;
    font: 700 17px "Montserrat";
    padding: 13px 21px;
    border-radius: 14px;
}
.wrapper .flexBtn .regBtn {
    color: white;
    font: 700 17px "Montserrat";
    background-color: #2B788B;
    padding: 13px 21px;
    border-radius: 14px;
}